beautifulsoup4==4.10.0
requests==2.26.0
pyppeteer==0.2.6
opencv-python==4.5.4.58
opencv-contrib-python==4.5.4.58
vpype[all]
git+https://github.com/serycjon/vpype-flow-imager.git#egg=vpype-flow-imager
